* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat Alternates", sans-serif;
}

a {
  text-decoration: none;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.hdr {
  height: 120px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background: rgb(255, 255, 255);
}

.menu-hdr {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 48px;
}
.menu-hdr__text {
  color: rgb(69, 64, 61);
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
}
.menu-hdr__btn {
  box-sizing: border-box;
  background: rgb(255, 255, 255);
  border: 1px solid rgb(162, 101, 57);
  border-radius: 24px;
  width: 169px;
  height: 52px;
  color: rgb(162, 101, 57);
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  font-family: inherit;
  cursor: pointer;
}
.menu-hdr__btn:hover {
  background: rgb(162, 101, 57);
  color: rgb(255, 255, 255);
}

.main-box {
  position: relative;
  height: 770px;
  background: rgb(246, 245, 244);
  background-image: url(img/board.png);
  background-repeat: no-repeat;
  background-position: calc(100% + 429px) calc(100% + 42px);
}

.main-content {
  width: 586px;
  height: 442px;
  padding-top: 119px;
}
.main-content__title {
  color: rgb(69, 64, 61);
  font-size: 48px;
  font-weight: 400;
  line-height: 59px;
  padding-bottom: 24px;
}
.main-content__subtitle {
  color: rgb(69, 64, 61);
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  padding-bottom: 24px;
}
.main-content__indent {
  display: block;
  margin-top: 12px;
}
.main-content__text {
  color: rgb(69, 64, 61);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}
.main-content__btn {
  margin-top: 40px;
  box-sizing: border-box;
  border: 1px solid rgb(162, 101, 57);
  border-radius: 24px;
  color: rgb(162, 101, 57);
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  font-family: inherit;
  cursor: pointer;
  width: 366px;
  height: 52px;
}
.main-content__btn:hover {
  background: rgb(162, 101, 57);
  color: rgb(255, 255, 255);
}
.main-content__grains {
  position: absolute;
  top: 59px;
  right: 101px;
}
.main-content__coffee {
  position: absolute;
  top: -32px;
  right: 245px;
}
.main-content__coffee:hover {
  transform: rotate(-10deg);
  transition: transform 0.3s;
}
.main-content__cookie {
  position: absolute;
  right: 385px;
  bottom: 8px;
}
.main-content__cookie:hover {
  transform: rotate(-10deg);
  transition: transform 0.3s;
}
.main-content__cinnabon {
  position: absolute;
  top: 201px;
  right: -58px;
}
.main-content__cinnabon:hover {
  transform: rotate(-10deg);
  transition: transform 0.3s;
}

.about-us {
  height: 851px;
  background: rgb(246, 245, 244);
}

.menu {
  height: 1087px;
  background: rgb(246, 245, 244);
}

.reviews {
  height: 683px;
  background: rgb(246, 245, 244);
}

.contacts {
  height: 749px;
  background: rgb(246, 245, 244);
}

.ftr {
  height: 156px;
  background: rgb(255, 255, 255);
}/*# sourceMappingURL=style.css.map */